{% extends "mapapp/base.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'mapapp/auth.css' %}">
  
  <form class="form-group" method="post">
    <h1>{% trans "Log In" %}</h1>
    {% csrf_token %}
    {{ form.as_p }}  {# Hiển thị form sử dụng as_p để tạo các thẻ <p> #}
    <button type="submit">Đăng nhập</button>
    <p>Don't have an account? <a href="{% url 'account_signup' %}">Register here</a>.</p>
  </form>
  
{% endblock %}